.mPage{
    position: relative;
    width: 100%;
    height: 3747px;

    background: #FFFFFF;
}



.header{
    position: absolute;
    width: 100%;
    height: 99px;
    left: -2px;
    top: 0px;
    background-color: #403C3B;
    box-shadow: 0px 30px 60px
    rgb(4, 31, 32, 0.2);
}

.logo{
    position: absolute;
    width: 100px;
    height: 25px;
    left: 98px;
    top: 38px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.search{
    position: absolute;
    width: 552px;
    height: 52px;
    left: 268px;
    top: 23px;
    border-radius: 10px;
    background: #504B4A;
}

.Iconly_search{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 14px;
    top: 10px;
}

.Location_1{
    position: absolute;
    width: 15.36px;
    height: 18.27px;
    left: 4.24px;
    top: 2.74px;
}

.search_1{
    position: absolute;
    width: 4.92px;
    height: 4.92px;
    left: 9.2px;
    top: 2px;

}

.search_1_1{
    position: absolute;
    width: 15.36px;
    height: 18.27px;
    top: 2.74px;
    left: 4.24px;
    border: 1.5px #CFCFCF
}

.search_text{
    position: absolute;
    width: 250px;
    height: 21px;
    left: 48px;
    top: 16px;



    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #CFCFCF;
}

.Iconly{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 520px;
    top: -1px;
}

.Location_2{
    position: absolute;
    width: 18.76px;
    height: 19.22px;
    left: 2.78px;
    top: 2.78px;
}

.search_2{
    position: absolute;
    width: 3.52px;
    height: 3.51px;
    left: 5px;
    top: 22px;
}

.search_2_1{
    position: absolute;
    width: 17.98px;
    height: 17.98px;
    left: -10px;
    top: 14px;
}

.call{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 853px;
    top: 33px;

    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 15px;
}

.calling{
    position: absolute;
    width: 12.74px;
    height: 12.67px;
    left: 1.67px;
    top: 1.67px;
}

.phone{
    position: absolute;
    width: 12.67px;
    height: 12.67px;
    left: 4px;
    top: 8px;
}

.phoneCall{
    text-decoration: none;
}

.line1{
    position: absolute;
    width: 2.33px;
    height: 2.33px;
    left: 12px;
    top: 1px;
}

.line2{
    position: absolute;
    width: 4.69px;
    height: 4.69px;
    left: 13px;
    top: 0px;
}

.Contact{
    position: absolute;
    width: 136px;
    height: 39px;
    left: 895px;
    top: 29px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #CFCFCF;
}

.basket{
    position: absolute;
    width: 149px;
    height: 52px;
    left: 1219px;
    top: 23px;

    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
}

.textBasket{
    position: absolute;
    width: 56px;
    height: 17px;
    left: 24px;
    top:17px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.counter{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 112px;
    top: 15px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 195px;
    left: -2px;
    top: 3552px;

    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}

.Flogo{
    position: absolute;
    width: 100px;
    height: 25px;
    left: 159px;
    top: 26px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;

    letter-spacing: 0.15em;

    color: #FFFFFF;

}

.fText1{
    position: absolute;
    width: 189px;
    height: 28px;
    left: 159px;
    top: 66px;

   font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #CFCFCF;
}

.info{
    position: absolute;
    width: 208px;
    height: 64px;
    left: 157px;
    top: 105px;
}

.iText1{
    padding-bottom:10px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    text-decoration: none;
    color: #FFFFFF;

}
.iText2{
    padding-bottom:10px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;

    color: #FFFFFF;

}
.iText3{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;

    color: #FFFFFF;

}

.tLine1{
    position: absolute;
    width:110px;
    height: 1px;
    left: 0px;
    top: 18px;

    border: 1px solid rgba(255, 255, 255, 0.5);
}

.tLine2{
    position: absolute;
    width: 68.5px;
    height: 1px;
    left: 0px;
    top: 36.5px;

    border: 1px solid rgba(255, 255, 255, 0.5);
}

.tLine3{
    width: 165px;
    height: 1px;
    left: 0px;
    top: 120px;

    border: 1px solid rgba(255, 255, 255, 0.5);
}

.aboutR{
    position: absolute;
    width: 621px;
    height: 24px;
    left: 453px;
    top: 86px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration:none;
    color: #FFFFFF;
}

.dTerms{
    position: absolute;
    width: 621px;
    height: 24px;
    left: 600px;
    top: 86px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration:none;
    color: #FFFFFF;
}

.returns{
    position: absolute;
    width: 621px;
    height: 24px;
    left: 750px;
    top: 86px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration:none;
    color: #FFFFFF;
}

.sale{
    position: absolute;
    width: 621px;
    height: 24px;
    left: 900px;
    top: 86px;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-decoration:none;
    color: #FFFFFF;
}

